/* Стиль для окна редактирования цели */
EditOrderDialog {
    background-color: #1f1f1f; /* Темный цвет фона */
    border: 1px solid #333; /* Темный цвет рамки */
    border-radius: 6px;
    color: white; /* Цвет текста */
}

/* Стиль для заголовка окна редактирования цели */
EditOrderDialog QLabel {
    font-size: 18px;
    color: white;
    border-bottom: 1px solid #333; /* Темный цвет линии под заголовком */
    padding: 10px;
}

/* Стиль для кнопок в окне редактирования цели */
EditOrderDialog QPushButton {
    background-color: #333; /* Темный цвет кнопки */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

/* Стиль для текстовых полей ввода в окне редактирования цели */
EditOrderDialog QLineEdit {
    padding: 8px;
    border: 1px solid #333; /* Темный цвет рамки */
    border-radius: 4px;
    margin: 10px;
    color: black; /* Цвет текста */
}

/* Стиль для текстовых областей в окне редактирования цели */
EditOrderDialog QTextEdit {
    padding: 8px;
    border: 1px solid #333; /* Темный цвет рамки */
    border-radius: 4px;
    margin: 10px;
    color: black; /* Цвет текста */
}


